/*Este é um comentário em CSS*/


/*Esta é uma regra CSS3*/
h1 /*seletor*/ {
    background-color: rgb(127, 189, 234);
    color: white;
    padding: 20px;
    text-align:center;
}

h1, h2 {
    font-family: "Georgia", serif; /* Aplica uma fonte serifada */
}

.link{
    display: inline;
    margin: 5%;
    text-align: center;
}

nav ul li a {
    font-weight: bold; 
}

.container {
    padding: 20px;
}

#conteudo {
    line-height: 1.5;
}

#formulario {
    border: 1px solid rgb(65, 64, 64); 
    padding: 10px;
}

p {
    color:rgb(120, 139, 101)
}

#formulario button {
    background-color: rgb(127, 189, 234); 
    color: white; 

}

#rodape {
    border-top: 2px  solid rgb(216, 79, 79); /
}

.cabecalho {
    background-color: rgb(127, 189, 234); 
    color: white; 
    padding: 20px;
}
.cabecalho nav ul li a {
    color: white; 
    text-decoration: none;
}
